.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.divPag {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    margin-top: 10px;
    margin-left: 8px;
    justify-content: space-around;
    text-align: left;
	background-color:#12100f;
	border-radius:10px;
	border:1px solid #a5a6a8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 0px 0px #d75518;
}
.button:hover {
	background-color:#6d6d6d;
}
.button:active {
	position:relative;
	top:1px;
}

.buttonBuscar{
    margin-left: 2px;
    margin-top: 20px;
    text-align: left;
	background-color:#12100f;
	border-radius:6px;
	border:1px solid #a5a6a8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:6px 10px;
	text-decoration:none;
	text-shadow:0px 0px 0px #d75518;
}
.buttonBuscar:hover {
	background-color:#6d6d6d;
}

.input{
    margin-left: 8px;
    background-color: none;
    border: none;
    font-size: 15px;
    box-shadow: 0 2px 7px rgba(5, 4, 8, 0.397);
    padding: 3px;
    border-radius: 10px;
    
    }
.inputBuscar{
    border-radius:4px;
    margin-left: 2px;
    background-color: none;
    border: none;
    font-size: 15px;
    box-shadow: 0 2px 7px rgba(5, 4, 8, 0.397);
    padding: 3px;
}

.h1gif{
	background-image:  url(https://upload.wikimedia.org/wikipedia/commons/9/96/Mundo_hecho_de_Banderas.gif);
	transform-origin: center center;
           animation: total 1.7s 1s steps(13, end) infinite;

}

.titulo{
    text-shadow: 2px 0 0px #713737, 3px 2px 0px rgba(77,0,38,0.5), 3px 0 3px #200d10, 5px 0 3px #88787a, 6px 2px 3px rgba(77,0,13,0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77,25,0,0.5), 9px 0 18px #f0efea, 11px 0 18px #dddbdb, 12px 2px 18px rgba(139, 138, 133, 0.5), 12px 0 30px #dddbdb, 14px 0 30px #dddbdb, 15px 2px 30px rgba(226, 227, 221, 0.5), 15px 0 45px #dddbdb, 17px 0 45px #dddbdb, 17px 2px 45px rgba(197, 198, 196, 0.5), 2px -9px 6px rgba(120,23,23,0);
    color: #c74a15;
    font-size: 55px;

}